<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="PythonHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified"/>
    </handlers>
    <httpPlatform processPath="python" arguments="app.py" stdoutLogEnabled="true" stdoutLogFile="\\?\%home%\LogFiles\python.log" startupTimeLimit="1800" requestTimeout="1800">
      <environment>
        <environmentVariable name="PORT" value="%HTTP_PLATFORM_PORT%" />
      </environment>
    </httpPlatform>
  </system.webServer>
</configuration>